<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.yunba.yo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>  
    
    <!-- for location only -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="io.yunba.yo.YoApplication">
        <activity
            android:name="io.yunba.yo.activity.MainActivity"
           android:windowSoftInputMode="adjustPan"
             android:screenOrientation="portrait"
            android:label="@string/app_name" >
           
        </activity>
         <activity
            android:name="io.yunba.yo.activity.DetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
           
        </activity>
         <activity
            android:name="io.yunba.yo.activity.LoginActivity"
             android:screenOrientation="portrait"
            android:label="@string/app_name"  android:noHistory="true">
           
        </activity>
        
         <activity
            android:name="io.yunba.yo.activity.SplashActivity"
             android:screenOrientation="portrait"
            android:label="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <service
            android:name="io.yunba.android.core.YunBaService" android:exported="true"/>

         <receiver android:name="io.yunba.android.core.YunBaReceiver">
              <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
         </receiver>
         
         <receiver android:name="io.yunba.yo.YoReceiver">
              <intent-filter>
                <action android:name="io.yunba.android.MESSAGE_RECEIVED_ACTION" />
                <action android:name="io.yunba.android.PRESENCE_RECEIVED_ACTION" />
                <category android:name="io.yunba.yo" />
            </intent-filter>
         </receiver>
         
          <!-- YUNBA_APPKEY 值来自 Portal 上应用程序对应的 AppKey, 如：“52feef9348c5e53b1504a78d”-->  
         <meta-data android:name="YUNBA_APPKEY" android:value="53db1f030416ca3817e33c57" />
    </application>

</manifest>
